.articlesGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;

  a {
    padding: 1.25rem 1rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
    background-color: #232323;
    border-radius: 4px;
    transition: filter 0.2s ease-out;
    overflow: hidden;

    h2 {
      text-transform: uppercase;
    }

    p {
      opacity: 80%;
      font-size: 90%;
    }

    &:hover {
      filter: brightness(1.1);

      h2 {
        text-decoration: underline;
      }
    }
  }
}

.articleLayout {
  margin-top: 1.5rem;
  width: min(60rem, 90svw);
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;

  p {
    opacity: 80%;
    font-size: 90%;
  }

  hr {
    margin: 1.5rem 0 2rem;
    height: 2px;
    border-radius: 100%;
    background-color: #575757;
  }
}

.content {
  font-size: 110%;
  color: #ffffff;
}
