:root {
  // browser support for dark mode by default
  color-scheme: dark;

  // global colors
  --white: #ffffff;
  --black: #000000;

  --primary: #ededed;
  --secondary: #1e1e1e;
  --accent: #39204b;
  --accent-hover: #512b59;

  --input: #333333;

  --button: #1e1e1e;
  --button-hover: #222222;
  --button-bright: #393939;
  --button-bright-hover: #414141;

  --green: #24562e;
  --green-hover: #31613a;
  --blue: #254869;
  --blue-hover: #23507b;
  --red: #722424;
  --red-hover: #8d3636;
}
