.profile {
  gap: 2rem;

  section {
    width: 25rem;
    display: flex;
    flex-direction: column;
  }

  hr {
    width: 35rem;
    height: 2px;
    border-radius: 100%;
    background-color: #575757;
  }
}

.userData {
  margin: -1.5rem 0 1rem;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 90%;

  .userId {
    opacity: 80%;
    font-size: 90%;
  }
}

.blogSection {
  gap: 0.5rem;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.changePassword {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.operationButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  button {
    height: 2.5rem;
    width: 16rem;

    &.redButton {
      color: #ffffff;
      background-color: #722424;

      &:hover {
        background-color: #8d3636;
      }
    }
  }
}
