.profile {
  gap: 2rem;
  text-align: center;

  section {
    width: 25rem;
    display: flex;
    flex-direction: column;
  }

  hr {
    height: 2px;
    width: min(35rem, 100%);
    border-radius: 100%;
    background-color: #575757;
  }
}

.userData {
  margin: -1.5rem 0 1rem;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 90%;

  .userId {
    opacity: 80%;
    font-size: 90%;
  }
}

.blogSection {
  gap: 0.5rem;

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.changePassword {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.operationButtons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  button {
    height: 2.5rem;
    width: 16rem;
  }
}

.pageTitle {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.elementsList {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.elementLink {
  padding: 1rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 4px;
  background-color: var(--button);
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: var(--button-hover);
  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    h2 {
      text-align: start;

      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    p {
      opacity: 80%;
      font-size: 90%;
      white-space: nowrap;
    }
  }

  .text {
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.actions {
  height: 100%;
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  a,
  button {
    $padding: 3px;

    opacity: 50%;
    padding: $padding;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
    transition: 0.2s opacity ease-in-out;

    &:hover {
      opacity: 90%;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
