$input-height: 2.5rem;

.formLayout {
  padding: 2rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #232323;

  label {
    display: flex;
    flex-direction: column;
    gap: 2px;

    p {
      font-size: 95%;
    }
  }

  span {
    font-size: 88%;
    color: #e26363;
  }

  $elem-color: #333333;

  input {
    padding: 8px 10px;
    height: 2.5rem;
    color: #ffffff;
    background-color: $elem-color;
    border: 1px solid $elem-color;
    border-radius: 4px;
  }

  button {
    margin-top: 16px;

    padding: 10px 0;
    font-size: 95%;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.passwordInput {
  width: 100%;
  height: $input-height;
  display: flex;
  align-items: center;
  background-color: #333333;
  border-radius: 4px;

  input {
    width: 100%;
  }

  .eyeIcon {
    margin: 0;
    padding: 5px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;

    img {
      opacity: 80%;
    }
  }
}

.blueButton {
  color: #ffffff;
  background-color: #254869;

  &:hover {
    background-color: #2c6092;
  }
}

.greenButton {
  color: #ffffff;
  background-color: #24562e;

  &:hover {
    background-color: #2d5e37;
  }
}
