$form-width: 25rem;
$input-height: 2.5rem;

.formLayout {
  padding: 2rem;
  width: $form-width;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--white);
  background-color: var(--button);
  box-shadow: var(--shadow);

  label {
    display: flex;
    flex-direction: column;
    gap: 2px;

    p {
      font-size: 95%;
    }
  }

  span {
    font-size: 88%;
    color: #e26363;
  }

  input,
  textarea {
    padding: 8px 10px;
    background-color: var(--input);
    border: 1px solid var(--input);
    border-radius: 4px;
  }

  input {
    height: 2.5rem;
  }

  textarea {
    min-height: 6rem;
    resize: vertical;
  }

  button {
    margin-top: 16px;
    padding: 10px 0;
    font-size: 95%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bright);
    box-shadow: none;

    &:hover {
      background-color: var(--button-bright-hover);
    }
  }
}

.passwordInput {
  position: relative;
  height: $input-height;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--input);
  border-radius: 4px;

  input {
    width: 100%;
    text-align: start;
  }

  .eyeIcon {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 5px;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: transparent !important;
    user-select: none;

    img {
      opacity: 80%;
    }
  }
}
