:root {
  color-scheme: dark;
}

:focus-visible {
  box-shadow: 0 0 1px 1px #ededed;
}

::placeholder {
  opacity: 35%;
  font-size: 95%;
}

html,
body {
  color: #ededed;
  background-color: #151515;
  -webkit-tap-highlight-color: transparent;
}

$header-height: 3.5rem;

main {
  position: relative;
  margin-top: $header-height;
  padding: 2rem min(3%, 3rem) 4rem;
  min-height: calc(100vh - $header-height);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h1 {
    margin: 5px 0 10px;
    font-size: 200%;
  }
}

header,
footer {
  padding: 0.5rem min(3%, 3rem);
  height: $header-height;
  width: 100%;
  color: #ffffff;
  background-color: rgba(#232323, 0.3);
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);

  div {
    height: 100%;
    display: flex;
    align-items: center;
  }

  a {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: 0.2s background-color ease-in-out;

    &:hover {
      background-color: #2b2b2b;
    }
  }

  form {
    height: 100%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    opacity: 80%;
    font-size: 90%;
  }
}

h1,
h2 {
  font-size: 125%;
  font-weight: bold;
}

a,
button {
  text-align: center;
  cursor: pointer !important;
}

button,
.button {
  padding: 12px 26px;
  border-radius: 4px;
  background-color: #232323;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: #2b2b2b;
  }

  &.green {
    color: #ffffff !important;
    background-color: #24562e !important;

    &:hover {
      background-color: #31613a !important;
    }
  }

  &.blue {
    color: #ffffff !important;
    background-color: #254869 !important;

    &:hover {
      background-color: #23507b !important;
    }
  }

  &.red {
    color: #ffffff !important;
    background-color: #722424 !important;

    &:hover {
      background-color: #8d3636 !important;
    }
  }
}

// hide reCaptcha badge
.grecaptcha-badge {
  display: none !important;
}
