.postsList {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;

  .post {
    overflow: hidden;
    padding: 1.25rem 1rem;
    width: 25%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    background-color: #232323;
    border-radius: 4px;
    transition: width 0.2s ease-in-out, filter 0.3s ease-out;

    &:hover {
      width: 40%;
      filter: brightness(1.1);
    }

    h2 {
      text-transform: uppercase;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    span {
      opacity: 80%;
      font-size: 90%;
    }

    p {
      margin-top: 1rem;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
