.welcome {
  z-index: 1;
  position: relative;
  min-height: min(65svh, 65rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  font-size: 125%;

  h1 {
    font-size: 250%;
    background-clip: text;
    background-image: linear-gradient(
      155deg,
      var(--accent-hover),
      var(--accent)
    );
    filter: brightness(1.5);
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: 769px) {
    p {
      width: 85%;
    }
  }

  a {
    opacity: 75%;

    &:hover {
      opacity: 95%;
      text-decoration: underline;
    }
  }

  img {
    z-index: -1;
    opacity: 3%;
    position: absolute;
    top: 0;
    right: 5%;
    height: 500px;
    width: auto;
    user-select: none;
  }
}

.latestPosts {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2 {
    width: 100%;
    font-size: 180%;
  }
}

.postsList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 6px;

  .post {
    position: relative;
    padding: 1.25rem 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    background-color: var(--accent);
    box-shadow: var(--shadow);
    border-radius: 4px;
    transition: 0.2s background-color ease-out;

    ::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      $black: #000000;
      background: linear-gradient(180deg, rgba($black, 0), rgba($black, 0.15));
    }

    &:hover {
      background-color: var(--accent-hover);
    }

    h2 {
      text-transform: uppercase;
      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    span {
      opacity: 75%;
      font-size: 90%;
    }

    p {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
